.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    h2 {
        text-align: center;
    }
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }
  
  .profile-info p:last-child {
    margin-bottom: 0;
  }