.ticket-counter {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  width: 100%;
  margin: 0px 0px 20px;
}

.counter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.counter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter-button:hover {
  background-color: #0056b3;
}

.counter-value {
  margin: 0 20px;
  font-size: 24px;
}